[paths]
source =
   src/brenda_parser
   */site-packages/brenda_parser

[run]
branch = true
source =
    brenda_parser
    tests
parallel = true

[report]
show_missing = true
precision = 2
omit = *migrations*
