[paths]
source =
    src/brenda_parser
    */site-packages/brenda_parser

[run]
branch = true
source =
    brenda_parser
parallel = true
omit =
    */_version.py
    */lextab.py
    */parsetab.py

[report]
show_missing = true
precision = 2
omit = *migrations*
